asgiref==3.12.1
Django==5.2.9
django-anymail[resend]==15.1
djangorestframework==3.18.0
drf-spectacular==0.29.0
djangorestframework_simplejwt==5.5.1
dj-database-url==2.1.0
psycopg2-binary==2.9.12
sqlparse==0.6.0
python-dotenv==1.2.3
gunicorn==21.2.0
whitenoise==6.6.0
google-auth==2.55.2
google-auth-httplib2==0.4.0
google-api-python-client==2.198.0
requests==2.34.2
cryptography==49.0.0
PyJWT==2.13.0
